@use '../../../public/assets/scss/default' as d;

.tableService {
    width: 100%;
    margin: 15px;
    overflow: auto;

    @include d.smobile {
        width: calc(100dvw - 30px);
    }

    table {
        width: 100%;
        min-width: 500px;
    }
}