@use '../../../public/assets/scss/default' as d;

.tableService {
    width: 100%;

        @include d.tablet {
            width: calc(100dvw - 52px);
            margin: 26px;
            overflow: auto;
        }

        @include d.mobile {
            width: calc(100dvw - 30px);
            margin: 0 15px;
            overflow: auto;
        }

        table {
            width: 100%;
            min-width: 500px;
        }
}