.header{
    background-color: #dde5da;
    display: flex;
    justify-content: space-between;
    height: 90px;
}

.btnHome{
    border-radius: 50px;
}

img {
    cursor: pointer;
    width: 200px;
    height: 80px;
    object-fit: contain;
}