@use '../../../../public/assets/scss/default' as d;

.sectionFormProduct {
    display: flex;
    flex-direction: column;

    .formProduct {
        width: 100%;
        min-width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        form {
            max-width: 848px;

            @include d.tablet {
                margin: 0 25px;
            }

            @include d.mobile {
                margin: 0 16px;
            }
        }

        mat-form-field {
            width: 100%;
        }
    }

    .btn {
        width: 150px;
    }
}