@use '../../../public/assets/scss/default' as d;

.sectionNewOrder {
    width: 100%;

    .orderForm, .formProducts{
        width: 100%;

        form {
            margin: 0 15px;
            display: flex;
            flex-direction: column;

            mat-form-field{
                width: 100&;
            }
        }
    }

    .tableServices {
        width: 100%;

       @include d.mobile {
            width: calc(100dvw - 30px);
            margin: 0 15px;
            overflow: auto;
        }

        table {
            width: 100%;
            min-width: 800px;
        }
    }
}