@use '../../../public/assets/scss/default' as d;

.sectionBill {
    margin: 10px;
    width: 800px;
    display: flex;
    flex-direction: column;

    @include d.mobile{
        width: calc(100dvw - 30px);
    }

    .head {
        display: flex;
        flex-direction: column;

        h1 {
            text-align: center;
        }

        .contact {
            display: flex;
            align-items: center;
            justify-content: space-between;

            @include d.mobile {
                flex-direction: column;
            }

            info {
                width: 350px;
            }

            img {
                width: 300px;
            }
        }
    }

    .infoClient {
        display: flex;
        flex-direction: column;
        margin: 10px;
    }

    .detailsService {
        margin: 10px;

        @include d.mobile {
            width: calc(100dvw - 50px);
            margin: 15px;
            overflow: auto;
        }

        h2 {
            text-align: center;
        }

        table {
            width: 100%;

            td,
            th,
            tr {
                text-align: center;
            }

            th{
                background-color: lightseagreen;
            }
        }
    }

    .sign {
        margin: 40px 0;
    }
}