.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    height: 60px;
    background-color: #dde5da;

    span {
        margin-right: 25px;
    }
}